<div id="navigation">
  <ul>
    <li><%=link_to "Home", home_path %></li>
    <li><%=link_to "Funcionários", employees_path %></li>
    <li><%=link_to "Motoristas", drivers_path %></li>
    <li><%=link_to "Ônibus", buses_path %></li>
    <li><a href="#">Rota</a></li>
  </ul>
  <div class="cl">&nbsp;</div>
</div>
