<nav class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <%= link_to 'Funcionarios', funcionarios_path %>
    </li>
    <li>
      <%= link_to 'Motoristas', motorista_path %>
    </li>
    <li>
      <%= link_to 'Ônibus', onibuses_path %>
    </li>
  </ul>
</nav>
