<div class="highlight">
  <h3>Welcome Note</h3>
  <img src="highlight.gif" alt="" class="right" />
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
<div class="list">
  <h3>Latest projects</h3>
  <div class="item">
    <div class="image left"> <a href="#"><img src="project01.jpg" alt="" /></a> </div>
    <div class="text left">
      <h4>simply dummy title</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
      <a href="#" class="more">Find out more</a> </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="item">
    <div class="image left"> <a href="#"><img src="project02.jpg" alt="" /></a> </div>
    <div class="text left">
      <h4>simply dummy title</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
      <a href="#" class="more">Find out more</a> </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="item">
    <div class="image left"> <a href="#"><img src="project03.jpg" alt="" /></a> </div>
    <div class="text left">
      <h4>simply dummy title</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
      <a href="#" class="more">Find out more</a> </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="item">
    <div class="image left"> <a href="#"><img src="project04.jpg" alt="" /></a> </div>
    <div class="text left">
      <h4>simply dummy title</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is</p>
      <a href="#" class="more">Find out more</a> </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
