<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <%= link_to 'Ônibus', buses_path%>
    </li>
    <li class="breadcrumb-item active">
      Editar
    </li>
<% end %>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'form', bus: @bus %>
  </div>
</div>
